.app-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

.app-radio-group {
  display: block;
  border: 1px solid #555;
  margin: 20px;
  padding: 10px;
}

.app-spacer {
  flex: 1 1 auto;
}

.page-font-size-medium {
  font-size: 0.8em;
}

.page-font-size-small {
  font-size: 0.7em;
}
