<div>
  <mat-sidenav-container class="all-wrap" fullscreen>
    <mat-sidenav #sidenav mode="push" class="app-sidenav" color="primary">
      <mat-toolbar color="primary"> Menu</mat-toolbar>
      <mat-nav-list>
        <a
          mat-list-item
          class="sidenav-list-item"
          routerLink="/"
          (click)="setPage('chat'); sidenav.toggle()"
        >
          <button mat-icon-button>
            <mat-icon>person</mat-icon>
          </button
          >
          Messages</a
        >
        <a
          mat-list-item
          class="sidenav-list-item"
          routerLink="/app-config"
          (click)="setPage('config'); sidenav.toggle()"
        >
          <button mat-icon-button>
            <mat-icon>build</mat-icon>
          </button
          >
          Configuration</a
        >
        <a
          mat-list-item
          class="sidenav-list-item"
          routerLink="/app-help"
          (click)="setPage('help'); sidenav.toggle()"
        >
          <button mat-icon-button>
            <mat-icon>help</mat-icon>
          </button>
          More
          Help</a
        >
      </mat-nav-list>
    </mat-sidenav>
    <div class="page-wrap">
      <header role="banner">
        <mat-toolbar *ngIf="!env.state.embeddedMode" color="primary">
          <!--          <button-->
          <!--            type="button"-->
          <!--            mat-icon-button-->
          <!--            [disabled]="env.error"-->
          <!--            (click)="sidenav.toggle()"-->
          <!--            title="Open Sidenav"-->
          <!--          >-->
          <!--            <mat-icon>menu</mat-icon>-->
          <!--          </button>-->
          <span
            [ngClass]="{
              'page-font-size-medium': isWidthMedium(),
              'page-font-size-small': isWidthSmall()
            }"
          >{{ title }}</span
          >
          <div class="app-spacer"></div>
          <div style="display: flex; align-items: center">
            <span
              style="margin-right: 10px"
              *ngIf="authService.getEmail()"
              [ngClass]="{
                'page-font-size-medium': isWidthMedium(),
                'page-font-size-small': isWidthSmall()
              }"
            >{{ authService.getEmail() }}</span>
            <button
              type="button"
              mat-icon-button
              [disabled]="env.error"
              (click)="openChat()"
              title="Open"
            >
              <mat-icon>open_in_new</mat-icon>
            </button>
          </div>
        </mat-toolbar>
        <mat-toolbar *ngIf="env.state.embeddedMode" color="primary">
          <span
            [ngClass]="{
              'page-font-size-medium': isWidthMedium(),
              'page-font-size-small': isWidthSmall()
            }"
          >{{ title }}</span
          >
          <div class="app-spacer"></div>
          <button
            type="button"
            mat-icon-button
            [disabled]="env.error"
            (click)="openChat()"
            title="Open"
          >
            <mat-icon>open_in_new</mat-icon>
          </button>
        </mat-toolbar>
      </header>
      <main
        [ngClass]="{
          content: true,
          background: !env.state.embeddedMode,
          'background-embedded': env.state.embeddedMode
        }"
      >
        <router-outlet></router-outlet>
      </main>
      <app-footer></app-footer>
    </div>
  </mat-sidenav-container>
</div>
