<footer id="footer" class="page-footer" *ngIf="state.page == 'chat'">
  <form class="chat-form" [formGroup]="chatForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="chat-field">
      <input matInput placeholder="Type your question here" formControlName="question">
    </mat-form-field>

    <button id="askButton" *ngIf="!env.state.embeddedMode" color="primary" mat-flat-button [disabled]="env.error || !f.question.value || chatForm.invalid || chatService.isQuestionPending() || state.page != 'chat'">Ask</button>
  </form>
</footer>
