/* You can add global styles to this file, and also import other style files */

/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/

@media (prefers-color-scheme: dark) {
  :root {
    --color-mode: 'dark';
  }
}

[data-user-color-scheme='dark'] {
  --text-color: var(--color-dark) !important;
  --chatbot-icon: var(--color-matte-dark) !important;
  --chatbot-header: var(--color-chatbot-header-dark) !important;
  --chatbot-messages: var(--color-chatbot-messages) !important;
  --chatbot-messages-user: var(--color-dark) !important;
}

app-root {
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

a {
  color: #6297fc !important;
  text-decoration: none !important;
}

.mat-drawer-container {
	height: 100vh;
	background-color: transparent ;
}

.all-wrap {
  min-height: 100vh;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.background {
  background-size: 500px 500px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.background-embedded {
  background: #FFF;
}


.progress-bar-container {
  margin: 15px 0;
}

.mat-toolbar.mat-primary {
  background-color: var(--chatbot-header) !important;
  color: white ;
}
