@import "~@angular/material/theming";
@include mat-core();


:root {
  --color-mode: 'light';
  --color-dark: #141414;
  --color-bluish: #008bdf;
  --color-chatbot: #2a6dac;
  --color-chatbot-header: #008bdf;
  --color-chatbot-header-dark: #1b1b1b;
  --color-chatbot-messages-dark: #6d6d6d;
  --color-chatbot-messages: #f2f4f8;
  --color-chatbot-user-messages: var(--color-bluish);
  --color-chatbot-user-messages-dark: var(--color-chatbot-header-dark);
  --color-matte-dark: #262626;
  --color-hover: #8d8d8d;
  --color-hover-2: #515151;
  --color-dark-alpha: rgba(3, 2, 2, 0.1);
  --color-light: #ffffff;
  --color-whitesmoke: whitesmoke;
  --background: #ffffff;
  --very-light-brightness: brightness(0.5);
  --light-brightness: brightness(1.0);
  --brightness: brightness(1.5);
  --super-brightness: brightness(2.5);
  --text-color: #141414;
  --icon-sun: #ffffff;
  --box-dark-color: #0370b0;
  --box-light-color: rgb(227, 227, 227);
  --success-dark-color: green;
  --success-light-color: blue;
  --color-dark-disabled: #b9b4b4;
  --color-light-disabled: #bebebe;
  --icon-moon: black;
  --button-icon: var(--icon-moon);
  --button-background: var(--color-dark);
  --button-color: var(--color-light);
  --border-color: var(--color-dark-alpha);
  --button-disabled: var(--color-light-disabled);
  --dropdown-color: var(--color-light);
  --dropdown-text-color: var(--color-dark);
  --table-background: white;
  --modal-content-background: white;
  --non-brightness: none;
  --filter-brightness: var(--non-brightness);
  --active-color-btn: var(--color-whitesmoke);
  --hover-color-btn: var(--color-whitesmoke);
  --select-file: var(--color-whitesmoke);
  --box-color: var(--box-light-color);
  --success-color: var(--success-light-color);
  --opposite: var(--color-dark);
  --opposite2: var(--color-light);
  --product-data-brightness: var(--non-brightness);
  --tooltip-content-brightness: var(--non-brightness);
  --chatbot-icon: var(--color-chatbot);
  --chatbot-header: var(--color-chatbot-header);
  --chatbot-messages: var(--color-chatbot-messages);
  --chatbot-messages-user: var(--color-chatbot-user-messages);
}

$ibm-brand: (
  50: #e9edf6,
  100: #c8d3e7,
  200: #a3b5d8,
  300: #7e97c8,
  400: #6281bc,
  500: #466bb0,
  600: #3f63a9,
  700: #3758a0,
  800: #2f4e97,
  900: #203c87,
  A100: #c3d2ff,
  A200: #90acff,
  A400: #5d85ff,
  A700: #4472ff,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$my-app-primary: mat-palette($ibm-brand);
$my-app-accent:  mat-palette($mat-blue-grey);
/*$my-app-warn:    mat-palette($mat-deep-orange);*/

/*$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);*/
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);

@include angular-material-theme($my-app-theme);
